@import "../../globalVariables.scss";

.expertise {
  padding: 71px 0 101px 0;
  background-color: $brightColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    @extend %fontPlayFair;
    font-size: 1.8rem;
    font-weight: 700;
    color: $darkColor;
    margin-bottom: 12px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $darkAshPurpleColor;
    @extend %fontPlayFair;
    letter-spacing: 0.075em;
    margin-bottom: 41px;
    font-weight: 500;

    &::after {
      background-color: $ashColor;
      margin-top: 18px;
    }
  }

  .expertiseCards {
    padding: 0 70px;
    .row {
      .card {
        border: none;
        cursor: default;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 39px 0;
        background-color: $brightColor;

        &__iconWrapper {
          width: 52px;
          height: 49px;
          overflow: hidden;
          background: url(ExpertiseIcons.png) $brightColor;
          margin-bottom: 35px;
        }

        &__header {
          @extend %fontRoboto;
          color: $darkColor;
          font-size: 1.1rem;
          font-weight: 700;
          margin-bottom: 26px;
          text-align: center;
        }

        &__textContent {
          @extend %fontRoboto;
          color: $darkAshPurpleColor;
          font-weight: 300;
          letter-spacing: 0.075em;
          text-align: center;
          line-height: 21.3px;
          margin: 0;
          max-width: 100%; //Для адекватного переноса текста в IE
        }
      }

      &__hr {
        margin: 0;
        border: 0;
        border-top: 2px solid $brightAshColor;
      }

      .card1 {
        .card__iconWrapper {
          background-position: left;
        }
      }
      .card2 {
        .card__iconWrapper {
          background-position: -71px;
        }
      }
      .card3 {
        .card__iconWrapper {
          background-position: -130.5px;
        }
      }
      .card4 {
        .card__iconWrapper {
          background-position: -191px;
        }
      }
      .card5 {
        .card__iconWrapper {
          background-position: -258.5px;
        }
      }
      .card6 {
        .card__iconWrapper {
          background-position: -323.5px;
        }
      }
    }
  }
}
