@import "../../globalVariables.scss";

.ourWorks {
  padding: 70px 0;
  background-color: $brightColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .worksHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 71px;

    &__topic {
      @include mixPlayFair($darkColor, 1.83rem, 0.05em, 600);
    }

    &__seeAllProjects-BTN {
      @include mixRoboto($darkColor, 1.16rem, 0.05em, 400);
      position: relative;

      &:hover {
        &::before,
        &::after {
          animation: beforeAfterHoverAnim 0.5s ease infinite;
        }
      }

      @keyframes beforeAfterHoverAnim {
        0% {
          right: -24px;
        }

        50% {
          right: -35px;
        }

        100% {
          right: -24px;
        }
      }

      &::before,
      &::after {
        content: "";
        width: 12px;
        height: 2px;
        background-color: #4c4c4c;
        position: absolute;
        right: -24px;
        top: 30%;
      }

      &::before {
        transform: rotate(45deg);
        top: 10%;
      }

      &::after {
        transform: rotate(-45deg);
        top: 26%;
      }
    }
  }

  .worksPhoto {
    width: 100vw;
    margin-bottom: 70px;
    cursor: pointer;

    .row {
      justify-content: center;
      .workPhoto {
        height: 200px;
        background-color: $darkAshColor;
        border: 1px solid $brightColor;
        padding: 0;

        &:hover {
          transition: all 0.5s;
          transform: scale(1.1);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .ourWorks {
    padding: 70px 20px;
  }
}

@media screen and (max-width: 767px) {
  .ourWorks {
    padding: 70px 0px;

    .worksHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 71px;

      &__seeAllProjects-BTN {
        &::before {
          transform: rotate(45deg);
          top: 25%;
        }

        &::after {
          transform: rotate(-45deg);
          top: 65%;
        }
      }
    }
  }
}
