$purpleColor: #333366;
$brightColor: white;
$brightAshColor: #ebebeb;
$cyanColor: #00e0d0;
$darkColor: #413d4b;
$ashColor: #c6c4c9;
$darkAshColor: #8b8b8b;
$darkAshPurpleColor: #2f2d35;
$lightHighlyTransparent: rgba(255, 255, 255, 0.2);
$dirtyWhiteHalfTransparent: #fafafa9f;
$placeholderGray:#acabb1;
$placeholderGrayFireFox:#565558;
$footerInput:#ffffff80;
$footerInputPlaceholder:#cecbd7;

%fontRoboto {
  font-family: "Roboto", sans-serif;
}

%fontPlayFair {
  font-family: "Playfair Display", serif;
}

%FontHammersmith {
  font-family: "Hammersmith One", sans-serif;
}

%flexAllCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mixPlayFair($color, $size, $letSpace, $weight) {
  @extend %fontPlayFair;
  color: $color;
  font-size: $size;
  letter-spacing: $letSpace;
  font-weight: $weight;
}

@mixin mixRoboto($color, $size, $letSpace, $weight) {
  @extend %fontRoboto;
  color: $color;
  font-size: $size;
  letter-spacing: $letSpace;
  font-weight: $weight;
}